<form [formGroup]="createProductForm" (ngSubmit)="onSubmit()" class="form" novalidate>

    <mat-form-field>
        <input matInput type="text" placeholder="Name" formControlName="name">
        <mat-error *ngIf="myFrom['name'].hasError('required')">Name is required.</mat-error>
        <mat-error *ngIf="myFrom['name'].hasError('minlength')">Min 2 karakter.</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="number" placeholder="Quantity" formControlName="quantity">
        <mat-error *ngIf="myFrom['quantity'].hasError('required')">Quantity is required.</mat-error>
        <mat-error *ngIf="myFrom['quantity'].hasError('min')">Nem lehet negatív.</mat-error>
    </mat-form-field>

    <mat-form-field>
        <select matNativeControl formControlName="typeOfQuantity">
            <option value="" disabled>Select unit</option>
            <option value="kg">kg</option>
            <option value="db">db</option>
            <option value="liter">liter</option>
        </select>
        <mat-error *ngIf="myFrom['typeOfQuantity'].hasError('required')">Unit is required.</mat-error>
    </mat-form-field>

    <div *ngIf="submitError">{{ submitError }}</div>

    <button mat-raised-button color="primary" type="submit" class="submit">
        Submit
    </button>
       <button mat-stroked-button color="primary" class="cancelBtn" routerLink="/products">
        Cancel
    </button>

</form>